:host {
  font-family: "Momo Trust Display", sans-serif;
}


.topbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  align-items: center;
  width: 100%;
  height: 12vh;
  padding: 0 20px;
  background: linear-gradient(90deg, #29314d, #487581);
  color: #fff;
  box-sizing: border-box;
}


.topbar nav {
  grid-column: 1;
  justify-self: start;
}

.topbar nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.topbar nav li {
  display: inline-flex;
}

.topbar nav button {
  color: #fff;
  background: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
}

h1#main {
  grid-column: 2;
  margin: 0;
  text-align: center;
  font-size: 50px;
}
